@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>professor @ViewData["professor"]</p>
<p>@ViewData["email"]</p>

<address>
    <strong>More information: </strong> <a href="https://www.mg.gov.br/">Mg.gov.com.br</a>
</address>